﻿@model IEnumerable<CarsTest.Models.Car>

<h2>List of cars</h2>

<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" height="100" width="150"/>
                <!--@Html.DisplayFor(modelItem => item.ImagePath)-->
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.CarId}) |
                @Html.ActionLink("Details", "Details", new {id = item.CarId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.CarId})
            </td>
        </tr>
    }

</table>
<hr/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>